{% extends "base.html" %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="col w-50 p-3 position-absolute top-10 start-0">
        <div class="bg-dark p-1">
            <div class="container mt-1">
                <form class="d-flex" id="searchForm" method="POST" action="/search_klient">
                    <input class="form-control d-inline m-2" type="search" name="search_name" placeholder="Imię" aria-label="Imię">
                    <input class="form-control d-inline m-2" type="search" name="search_lastname" placeholder="Nazwisko" aria-label="Nazwisko">
                    <button class="btn btn-outline-light m-2" type="submit">Szukaj</button>
                </form>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#addKlientModal">Dodaj klienta</button>
        </div>
        <div class="modal fade" id="addKlientModal" tabindex="-1" aria-labelledby="addKlientModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addKlientModalLabel">Dodaj nowy magazyn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add_klient">
                        <div class="mb-3">
                            <label for="newKlientName" class="form-label">Imię</label>
                            <input type="text" class="form-control" id="newKlientName" name="newKlientName">
                        </div>
                        <div class="mb-3">
                            <label for="newKlientSurname" class="form-label">Nazwisko</label>
                            <input type="text" class="form-control" id="newKlientSurname" name="newKlientSurname">
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <table class="table table-striped table-bordered table-dark p-3 mt-3 bg-body rounded">
            <thead>
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                {% for klient in klienci %}
                <tr>
                    <th scope="row">{{ klient.imie }}</th>
                    <td>{{ klient.nazwisko }}</td>
                    <td>{{ klient.saldo }}</td>
                    <td>
                        <div class="d-flex">
                            <form method="POST" action="/delete_klient/{{ klient.id_klienta }}">
                                <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ klient.id_klienta }}">Edytuj</button>
                            </form>
                        </div>
                        <div class="modal fade" id="exampleModal{{ klient.id_klienta }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ klient.id_klienta }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ klient.id_klienta }}">Edytuj klienta</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/edit_klient/{{ klient.id_klienta }}">
                                            <div class="mb-3">
                                                <label for="new_name{{ klient.id_klienta }}" class="col-form-label">Imię:</label>
                                                <input type="text" class="form-control" id="new_name{{ klient.id_klienta }}" name="new_name" value="{{ klient.imie }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="new_lastname{{ klient.id_klienta }}" class="col-form-label">Nazwisko:</label>
                                                <input type="text" class="form-control" id="new_lastname{{ klient.id_klienta }}" name="new_lastname" value="{{ klient.nazwisko }}">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Zapisz</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col w-50 p-3 position-absolute top-10 start-50 ">
        <div class="custom-table-responsive">
                <table class="table table-striped table-bordered table-dark p-3 mt-3 bg-body rounded">
                    <thead>
                        <tr>
                            <th scope="col">Statystyki</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Liczba klientów:</td>
                            <td>{{ liczba_klientow }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}
